:root {
  --primary-color: #864468d5;
  --secondary-color: #2ecc71;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'YourFontChoice', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;

}

header {
  background-color: var(--primary-color);
  padding: 20px;
}


nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.hero {
  display: grid;
  float: right;
  grid-template-columns: 1fr;
  grid-column: 1/2;
  position: relative;
  justify-content: space-around;
}
.add {
  display: grid;
  justify-content: center;
  align-items: center;

}
/* .hero h1 {
  display: flex;
  margin-left: 400px;
  margin-top: -20px;
  justify-content: center;
  align-self: center;
  color: #302525;
} */

div img {
  width: 100%;
  height: auto;
  float: right;
  order: 2;
}

.add p {
  margin-left: 50px;
}

.hero article {
  position: relative;
  justify-content: flex-start;
  margin-top: 50px;
  background-color: rgba(240, 234, 234, 0.8);
  padding: 20px;
}
.hero article img{
  float: right;
}
article img {
  width: 100px;
}
.sec {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 200px;
  justify-content: space-between;
}
.sec h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
}
.sec p {
  order: 2;
}
.sec2{
  display: grid;
  padding: 20px;
  border: 1px solid black;
  background-color: aliceblue;
}
.sec2 h2 {
  grid-column-start: 1;
  grid-column-end: 10;
  justify-self: center;
  margin-top: 100px;
}
.end {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
}
footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

footer img {
  position: absolute;
  width: 30px;
  margin: 0 1px;
}
.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.heading img{
  height: 100px;
  margin-left: 70px;
}
.navigation{
  position: relative;
  bottom: 50%;
  display: flex;
  border: 3px solid #302525;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(68, 109, 109);
  min-width: 100px;
}
.content {
  display: flex;
  width: 800px;
}
body header img{
  margin-left: 200px;
}
.set {
  padding: 100px;
}
label, input {
  margin-bottom: 10px
}
.name input{
  display: flex;
  margin-left: 115px;
}
.name{
  display: flex;
}
.pur {
  display: flex;
}
.arrange {
  margin-left: 30px;
}
.pur p{
  margin-top: 20px;
}

.msg {
  display: grid;
  height: 90px;
  width: 330px;
}
button {
  width: 330px;
}
h3 {
  justify-self: center;
  align-self: center;
}
.empl {
  display: flex;
  margin: 20px;
}
figure {
  padding: 20px;
}
.map {
  margin-top: 90px;
}